<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alura.melhoresdestinos">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MelhoresDestinos"
        tools:targetApi="31">


        <activity
            android:name=".ui.activity.SearchableActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.ListaPacotesActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <provider
            android:name="com.alura.melhoresdestinos.provider.SearchProvider"
            android:authorities="com.alura.melhoresdestinos.provider.SearchProvider" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:exported="true"
            android:name=".ui.activity.ListaPacotesActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing">


            <!-- habilite a caixa de diálogo de pesquisa para enviar
            pesquisas para SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.activity.SearchableActivity" />


        </activity>


        <activity
            android:name=".ui.activity.ResumoPacoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PagamentoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ResumoDaCompraActivity"
            android:exported="false" />
    </application>

    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

</manifest>

